* {
    padding: 0;
    margin: 0;
}

section{
    min-height: 100vh;
}

.login{
    background-image: linear-gradient(rgba(25, 25, 25, 0.59),rgba(25, 25, 25, 0.59)), url(../img/scale.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    height: 150px;
    width: 200px;
    align-items: center;
    justify-content: c;
}

.h1 {
    font-family: 'Bangers', cursive;
}

.footer {
    background-color: #0a5891;
}

.btn {
    background-color: black;
}
.btn:hover{
    background-color: #123560;
}

.bgcol6 {
    background-color: #2596be;
    border-radius: 1rem 0 0 1rem;
}
